*.results
*_inputs/
figures/
GPUmemcpy
grabcc
grabname
sleek_double_compressor_lossless
sleek_double_compressor_lossless_cpu
sleek_double_compressor_lossy
sleek_double_compressor_lossy_cpu
sleek_double_decompressor_lossless
sleek_double_decompressor_lossless_cpu
sleek_double_decompressor_lossy
sleek_double_decompressor_lossy_cpu
sleek_single_compressor_lossless
sleek_single_compressor_lossless_cpu
sleek_single_compressor_lossy
sleek_single_compressor_lossy_cpu
sleek_single_decompressor_lossless
sleek_single_decompressor_lossless_cpu
sleek_single_decompressor_lossy
sleek_single_decompressor_lossy_cpu
TEMPC
TEMPC_cpu
TEMPD
TEMPD_cpu